.profile__illustration_wrapper {
    position: absolute;
    height: 120px;
    width: 120px;
    /* visibility: hidden; */
    opacity: 0;
}

.profile__illustration_wrapper:hover {
    /* visibility: visible; */
    opacity: 1;
}